/* commons */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* / commons */

/* header */
.header-container {
    width: 80%;
    margin: auto;
    border-top: 1px solid black;
    border-radius: 5px 5px 0 0;
    padding: 3px 10px;
    display: flex;
    background-color: rgba(216,217,216,255);
}

.pallini {
    width: 40%;
}

.cerchio {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.rosso {
    background-color: rgba(255,95,88,255);
}

.giallo {
    background-color: rgba(255,190,46,255);
}

.verde {
    background-color: rgba(39,201,65,255);
}

.zoom-id {
    width: 60%;
}
/* / header */

/* inizio main */
.main-container {
    width: 80%;
    margin: auto;
    background-color: black;
    display: flex;
    align-items: center;
}

.scorri-sx,
.windows,
.scorri-dx {
    height: 80%;
}

.scorri-sx,
.scorri-dx {
    width: 5vw;
}

.windows {
    width: 90vw;
}
/* debug */
/* .debug .header-container {
    height: 30px;
    background-color: aqua;
} */

/* .debug .cerchio {
    background-color: brown;
} */

.debug .main-container {
    height: calc(100vh - 25.4px);
}

.debug .scorri-sx,
.debug .scorri-dx {
    background-color: brown;
}

.debug .windows {
    background-color: chartreuse;
}